body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;   
    background-image: url("../images/banner-bg.jpg");
    background-color: #555;
    background-repeat: no-repeat;
    background-size: cover;
}
header::before{
    content: '';
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.header-container{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;
}
.header-first-floor{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.header-second-floor{
    padding-top: 140px;
    padding-bottom: 150px;
    display: flex;
    width: 1200px;
    justify-content: center;
}
.header-logo {
    height: 40px;
    cursor: pointer; 
}
.header-navigation{
    display: flex;
    justify-content: flex-end;
    width: 800px;
    flex-wrap: wrap;
}
.header-navigation a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-left: 30px;
}
.hamburger{
    width: 25px;
    position: relative;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}
.hamburger-container{
    display: none;
}
.header-navigation a:nth-child(n+2){
    margin-left: 35px;
}
.header-title {
    text-transform: uppercase; 
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    max-width: 700px;  
}
.section-container{
    margin-top: 64px;
}
.shop-section-container{
    display: flex;
    justify-content: center;
}
.section-title h2{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}
.section-title::after{
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 14px auto 23px;
}
.section-second-floor{
    display: flex;
}
.trend-block{
    width: 25%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 20px 16px 20px;
    position: relative;
}
.trend-block::before{
    content: " ";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}
.trend-block:not(:first-child){
    margin-left: 5px;
}

.trend1{
    background-image: url("../images/trend1.jpg");
    background-size: cover;
}
.trend2{
    background-image: url("../images/trend2.jpg");
    background-size: cover;

}
.trend3{
    background-image: url("../images/trend3.jpg");
    background-size: cover;
    
}
.trend4{
    background-image: url("../images/trend4.jpg");
    background-size: cover;
    
}
.article-container{
    border: 2px solid #b59f5b;
    padding: 35px;
    margin-bottom: 16px;
    position: relative;
}
.trend-title{
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
}
.trend-tags ul{
    flex-wrap: nowrap;
}
.trend-tag a{
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;  
}
.trend-tag:not(:first-child){
    padding-left: 20px;
}
.shop-section{
    width: 100%;
    max-width: 1170px;
    margin-bottom: 60px;
}
.shop-img{
    width: 100%;
    height: 284px;
    display: flex;
    margin: 0;
}
.shop-second-floor{
    display: flex;
    padding: 0 25px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 60px;
}
.shop-item{
    width: 33.3%;
    position: relative;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}
.article-first-floor{
    padding: 0 30px;
}
.article-first-floor picture{
    width: 100%;
}
.article-first-floor img{
    width: 100%;
}
.article-second-floor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    margin: -30px 13px 0 13px;
    border: 3px solid #b59f5b;
    padding: 55px 20px 25px 20px;
    flex-grow: 1;

}
.shop-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    font-size: 20px;
}
.shop-button a{
    text-decoration: none;
    display: block;
    padding: 15px 28px;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 13px;
}
.shop-price p{
    margin: 0;
    font-weight: bold;
    font-family: "Open Sans";
}
.old-price{
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}
.shop-item-name{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    
    margin: 0;
}
.shop-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 0;
}
.shop-text a{
    text-decoration: none;
    color: #b59f5b;
}
.main-content-container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 64px;
    box-sizing: border-box;
    padding: 0 15px;
}
main{
    max-width: 65%;
    margin-right: 120px;
}
.main-post{
    margin-bottom: 61px;
    display: flex;
}
.main-post img{
    min-width: 381px;
    min-height: 294px;
    background-color: rgb(75, 75, 75);
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
}
h3{
    margin: 0;
    padding: 0;
}
.post-content{
    margin-left: 30px;
    margin-right: 30px;
}
.post-content p{
    margin: 50px 0 0 0;
    width: 367px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #0f0d0e;
    font-family: 'Open Sans';
}
.post-tags{
    display: flex;
    flex-wrap: wrap;
}
.post-tag{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    margin-right: 20px;
    text-decoration: none;
    height: 20px;
}
.post-name{
    margin-top: 15px;
    margin-bottom: 35px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}
time{
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}
.post-author{
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 15px;
}
.sidebar-block-header{
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.sidebar-block-header::after{
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 14px auto 23px;
}
.sidebar-title h2{
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.sidebar-block-content{
    margin-bottom: 60px;
}
.new-post{
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
}
.new-post img{
    width: 70px;
    height: 70px;
    background-color: rgb(75, 75, 75);
}
.new-post-content{
    margin-left: 20px;
}
.new-post-content time{
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}
.new-post a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    display: block;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
}
.new-post h5{
    margin: 0;
    padding: 0;
}
.search {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.search label{
    flex-grow: 1;
}
aside input{
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 16px;
    background-color: #f4f7f6;
    font-size: 13px;
}
aside input:focus{
    background-color: #f4f7f6;
}
.search button{
    background-image: url('../svg/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;

}
button{
    width: 100%;
    border: none;
    background-color: #b59f5b;
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    padding: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.search{
    display: flex;
    flex-direction: row;
    
}
 .form-email-spam input{
    margin-bottom: 18px;
}
.email-spam input:focus{
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}
.popup-container{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}
.popup-close{
    width: 30%;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: flex-end;
    line-height: 35px;
}
.popup-close-item{
    cursor: pointer;
}
.popup-block{
    width: 30%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}
.popup-title h2{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    width: 100%;
}
.popup-title h2::after{
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 14px auto 23px;
}
select{
    width: 100%;
    margin-top: 10px;
    border: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    background-size: 10px;
    background-position: center right 10px;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
}
.popup-second-floor{
    padding-top: 35px;
}
.popup-span{
    font-family: "Open Sans";
    margin: 0;
}
.popup-second-floor input{
    width: 15px;
    height: 15px;
    margin: 0;
    margin-top: 10px;
    appearance: none;
    background-image: url("../svg/form-empty-circle.svg");
    background-size: cover;
}
.popup-second-floor input:checked{
    content: " ";
    background-image: url("../svg/form-circle.svg");
    background-size: cover;
}
.popup-second-floor label{
    font-family: "Open Sans";
}
#radio2{
    margin-left: 15px;
}
textarea{
    padding: 20px;
    margin-top: 10px;
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    border: none;
    font-family: "Open Sans";
    resize: none;
    width: 87%;
}
.form-third-floor{
    padding-top: 35px;
}
.popup-button{
    padding-top: 25px;
}
.link-tag{
    text-transform: uppercase;
    text-decoration: none;
    width: 86px;
    height: 30px;
    font-size: 12px;
    line-height: 40px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-right: 5px;
    padding: 5px 13px 5px 13px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
}
.ul-themes{
    display: flex;
    flex-direction: column;
}
.theme a{
    display: inline-block;
    padding: 20px 0 13px 0;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
}
.theme{
    border-bottom: 1px solid #eeeeee;
}
sup{
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: 'Open Sans';
}
.ul-footer{
    display: inline-flex;
}
.ul-footer li{
    display: flex;
}
.socials{
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f7f6;
    justify-content: center;
    max-width: 1170px;
}
.socials a{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    text-decoration: none;
}
.a-twitter{
    background-image: url('../svg/004-twitter.svg');
    
}
.a-pinterest{
    background-image: url('../svg/001-pinterest.svg');
   
}
.a-facebook{
    background-image: url('../svg/002-facebook-logo.svg');
    
}
.a-instagram{
    background-image: url('../svg/005-instagram.svg');
    
}
.a-tumbler{
    background-image: url('../svg/003-tumblr.svg');
}
.copiright{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
}
.copiright a{
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    font-family: 'Open Sans';
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
/* MEDIA TABLET */
@media (max-width: 1200px){
    header{
        background-image: url("../images/banner-bg-tablet.jpg");
        min-width: 641px;
    }
    .header-title{
        font-size: 40px;
    }
    .header-navigation{
        width: auto;
    }
    nav ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.4s;
    }
    .hamburger-container ul{
        flex-direction: column;
        padding: 30px;
    }
    .hamburger-container li{
        border-bottom: 3px solid #999999;
    }
    .hamburger-container a{
        color: #fff;
        text-decoration: none;
        font-family: "Open Sans";
        text-transform: uppercase;
        line-height: 35px;
    }
    
    .section-second-floor{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .trend-block{
        width: 49.7%;
        margin-bottom: 5px;
    }
    .trend-title{
        font-size: 17px;
    }
    .trend-block:not(:first-child){
        margin-left: 0;
    }
    .main-content-container{
        padding: 0 36px;
        justify-content: space-between;
    }
    .main-post{
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 3px solid #eeeeee;
    }
    .post-content{
        margin: 0;
    }
    .post-content p{
        width: auto;
    }
    .main-post img{
        min-width: 0;
        min-height: 0;
    }
    main{
        margin-right: 30px;
    }
    aside{
        width: 60%;
    }
    .search{
        max-width: none;
    }
    .shop-item{
        width: 50%;
    }
    .socials{
        width: 90%;
    }
    .popup-block{
        width: 60%;
    }
    .popup-close{
        width: 60%;
    }
}
@media (max-width: 640px){
    header{
        background-image: url("../images/banner-mobile.jpg");
        min-width: 320px;
    }
    .header-first-floor{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .header-second-floor{
        padding-top: 0;
    }
    .header-logo{
        width: 100%;
        margin-top: 150px;
        height: 62px;
    }
    .header-title{
        margin: 0;
        padding-top: 45px;
        font-size: 26px;
        line-height: 36px;
    }
    .trend-block{
        width: 100%;
        margin-bottom: 5px;
    }
    .trend-block:not(:first-child){
        margin-left: 0;
    }
    .main-content-container{
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        margin-top: 40px;
    }
    .post-content{
        padding-top: 15px;
    }
    main, aside{
        width: 100%;
        max-width: none;
    }
    .main-post{
        padding-bottom: 25px;
        margin-bottom: 35px;
    }
    .shop-second-floor{
        flex-direction: column;
    }
    .shop-item{
        width: 100%;
    }
    .socials{
        width: 90%;
    }
    .popup-block{
        width: 90%;
        padding: 15px;
    }
    .popup-close{
        width: 90%;
        font-size: 4rem;
        line-height: 30px;
    }
}
@media (max-width: 640px) and (orientation: landscape){
    .section-second-floor{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;    
    }
    .trend-block{
        width: 49.4%;
    }
    .trend-block:nth-child(2n+2){
        margin-left: 5px;
    }
}